*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: rgb(49, 49, 49);
}

p{
font-size: 18px;
max-width: 900px;
font-size: 18px;
text-align: center;
}

.first-section{
  min-height: 450px;
  display: flex;
  background-image: url(./../img/header.png);
  opacity: 0.9;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 100px 25px;
  align-items: center;

}

header{
  align-self: center;
}

h1{
  font-size: 35px;
  font-weight: bolder;
}

.btn{
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding: 15px 30px;
  max-width: 140px;
  border: 1px solid white;
  background-color: rgb(49, 49, 49);
  color: white;
  transition-property: all;
  transition-duration: 0.4s;
}

.btn:hover{
  background-color: white;
  color: rgb(49, 49, 49);
  border: 1 px solid rgb(49, 49, 49);
}

.second-section{
  padding: 100px 25px;
  color: rgb(49, 49, 49);
  background-color: #EAEAEA;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h2{
  font-size: 27px;
  font-weight: bold;
  padding-bottom: 25px;
text-align: center;
}


.third-section{
  display: flex;
  padding: 35px 500px 17px 500px;
  justify-content: space-between;
  align-items: center;
}

.card{
  background-color: #EAEAEA;
  min-height: 450px;
  max-width: 272px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

img{
  width: 272px;
  height: 180px;
}
 
.card-header{
  padding-top: 20px;
  padding-bottom: 50px;
}

.fourth-section{
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}

